@font-face { font-family: Dense; src: url('Dense-Regular.otf'); }

#canvas {
    display: block;
}

#ScrollCanvas {
    padding: 5px;
    position: fixed;
    top: 55px;
    border: solid black 5px;
}

#scrollSquare{
    top: 45px;
    height: 3000px;
}

body{
    margin: 0;
    overflow-x: hidden;
    -webkit-user-select: none;
}

h1 {
    position: fixed;
    right: 100px;
    top: 200px;
}

.hidden{
    visibility:hidden;
}

.menu {
    background-color: #484444;
    padding: 1px;
    text-align: center;
    position: fixed;
    width: 100%;
}

.menuBtn {
    font-family: Dense, serif;
    font-size: 23px;
    color: floralwhite;
    background-color: transparent;
    border: none;
    padding: 2px;
    margin: 6px 20px 10px;
    letter-spacing: 4px;
}

.menuBtn:focus {
    outline: none;
    border-bottom: solid 1px;
}